.input-search::placeholder{
  color:white;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.input-search{
  color: white;
}

.input-search:focus{
  width: 300px;
  color:  black;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:2px solid black;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus ~ div svg#search-logo{
  stroke: black;
}


svg#search-logo{
  stroke:white;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-number-input input:focus {
  outline: none !important;
}

.custom-number-input button:focus {
  outline: none !important;
}
